---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Hello, i am Martin Leško. I am former Junior Software Developer working at
    Sense solutions s.r.o with experience in Frontend Development. Worked on
    several projects like Anonyma, EntSearch and GDPRSuite which later merged
    into Minex.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Stredná priemyselná škola Elektrotechnická 9"
      subtitle="2018 to 2022 at Stredná priemyselná škola Elektrotechnická 9, Bratislava, Slovakia"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Junior Software Developer at Sense Solutions s.r.o"
      subtitle="From 2021 to 2023 at Sense Solutions s.r.o, Bratislava, Slovakia"
    >
      I Worked in Sense Solutions s.r.o on three projects specifically: -
      Anonyma - EntSearch - GDPRSuite
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank">
        Certification Name: CCNAv7 Introduction to Networks</a
      >
    </li>
    <li>
      <a href="#" target="_blank">
        Certification Name: CCNAv7 Switching, Routing and Wireless Essentials</a
      >
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6 mb-10">
    <li>HTML5</li>
    <li>CSS</li>
    <li>SCSS</li>
    <li>Javascript</li>
    <li>Bootstrap</li>
    <li>Tailwind CSS</li>
    <li>AJAX</li>
    <li>Git</li>
    <li>Vue.js</li>
    <li>Vitest</li>
    <li>Cypress</li>
    <li>Clickup</li>
    <li>React.js</li>
    <li>Docker</li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Languages</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Slovak - Native fluency</li>
    <li>Czech - Profesioal fluency</li>
    <li>English - B2.3</li>
  </ul>
</BaseLayout>
