---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Projects</div>
  </div>

  <HorizontalCard
    title="Anonyma"
    img="/post_img.webp"
    desc="Anonymization module with predictive highlighting of potential options for anonymization. This module ensures the complete process of anonymization, from uploading the document to the anonymization itself, manually or automatically using several pre-prepared algorithms."
    url="https://sensesolutions.sk/minex/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Entsearch"
    img="/post_img.webp"
    desc="The Full-text search engine module is used for searching various data sources and offers a consolidated view of the data.npmAt the same time, Minex is programmed to support all commonly used Internet browsers on the Windows, Mac or Linux platforms."
    url="https://sensesolutions.sk/minex/"
  />

  <HorizontalCard
    title="GDPRSuite"
    img="/post_img.webp"
    desc="The GDPR module (personal data protection) enables extraction from unstructured text in accordance with the European Parliament's GDPR regulation 2016/679. Multiple data sources are supported, such as: Fabasoft, Sharepoint, LDAP, Active Directory, email, relational databases, etc. The GDPR module (personal data protection) has an advanced OCR that supports several world languages already in the basic license. Minex can also search in image files or document scans."
    url="https://sensesolutions.sk/minex/"
  />
  <div class="divider my-0"></div>
</BaseLayout>
